
<app-events-filter [patients]="patients" [doctors]="doctors" (onFilterValueChanged)="applyFilter($event)"></app-events-filter>

<div class="ibox-content">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event Reference No</th>
        <th>Patient Name</th>
        <th>Doctor Name</th>
        <th>Event Date</th>
        <th>Event Type</th>
        <th>Conflicted Appointment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of filteredGeneratedEvents | paginate: {id: 'generatedEventsPaging', itemsPerPage: 10, currentPage: p }">
        <td>{{event.eventReferenceNo}}</td>
        <td>{{event.patientName}}</td>
        <td>{{event.doctorName}}</td>
        <td>{{event.eventDate | date:'short'}}</td>
        <td>{{event.eventType}}</td>
        <td><span *ngIf="event.isConflictShown" style="color:red">Conflict with #{{event.originalEventReferenceNo}}</span></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf=" filteredGeneratedEvents !== null && filteredGeneratedEvents.length == 0">
    <span>No Data Found</span>
  </div>
  <br>

  <div>
    <pagination-controls id="generatedEventsPaging" (pageChange)="p = $event" autoHide="true"></pagination-controls>
  </div>
</div>

<app-conflict-display [generatedEvents]="generatedEvents"></app-conflict-display>
