<p>
  <b>
    The grid below dislays the original appointment along with the apppointments that conflicted with it
    Click on the + button for more details about the apppointments conficting with the original appointment
  </b>
</p>
<div class="row show-grid">
  <div *ngFor="let originalEvent of appointmentEventsWithConflicts | paginate: {id: 'conflictedEventsPaging', itemsPerPage: 5, currentPage: p };let i = index" class="col-md-9">
    <button (click)="toggle[i] = !toggle[i]">+</button>
    Original Appointment Refer. No / DoctorName / Date :{{originalEvent.EventReferenceNo}} / {{originalEvent.DoctorName}} / {{originalEvent.EventDate | date:'short'}}
    <div *ngIf="originalEvent.ConflictedEvents && toggle[i]">
      <div class="row show-grid">
        <div class="col-md-4">
          Appointment Refer. No
        </div>
        <div class="col-md-4">
          Patient Name
        </div>
        <div class="col-md-4">
          Appointment Date
        </div>
      </div>
      <div *ngFor="let conflictedEvent of originalEvent.ConflictedEvents" class="row show-grid">
        <div class="col-md-4">
          {{conflictedEvent.EventReferenceNo}}
        </div>
        <div class="col-md-4">
          {{conflictedEvent.PatientName}}
        </div>
        <div class="col-md-4">
          {{conflictedEvent.EventDateStr}}
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf=" appointmentEventsWithConflicts !== null && appointmentEventsWithConflicts.length == 0">
  <span>No Data Found</span>
</div>

<pagination-controls id="conflictedEventsPaging" (pageChange)="p = $event" autoHide="true"></pagination-controls>
