<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="ConnectionStrings">
    <Parameter Name="DefaultConnection" Value="Server=patientdb.database.windows.net;Initial Catalog=DoctorServiceDB;Persist Security Info=False;User ID=rana;Password=Alten123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </Section>
</Settings>
